.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  //align-items: center;
  justify-content: center;
}
.wrapper > * {
  width: 100%;
  max-height: 100vh;
  flex: 0 0 0;
  margin: 0 auto 8px;
  //opacity: 1;
  overflow: hidden;
  //transition: opacity 250ms;
}
.wrapper > .show {
  //animation: fadeIn 250ms;
}
.wrapper > .hide {
  //flex: 0;
  max-height: 0;
  margin: 0;
  //opacity: 0;
  
  //visibility: hidden;
}
@keyframes fadeIn {
  from {
    max-height: 0;
    margin: 0;
    opacity: 0;
  }
  to {
    max-height: 100vh;
    margin: 0 auto 8px;
    opacity: 1;
  }
}

.heading {
  font-size: 2em;
  font-weight: 700;
}
.desc {
  padding: 0 8px;
}

.img_input {
  padding: 0 8px;
}

.img_view {
  width: 100vw;
  overflow: hidden;
}
.pano_place {
  position: relative;
  padding: 11.142% 0;
  background: rgba(0,0,0,0.2);
}
.pano_place > .holder {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.pano_place > .holder > .logo {
  width: 16%;
  margin: 0 auto;
  padding-bottom: 16%;
  border-radius: 8px;
  background:
    url('logo.svg')
    center center / cover
    no-repeat;
}
.pano_place > .holder > .text {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
  color: rgba(255,255,255,0.5);
}
.pano {
  position: relative;
  background-color: #FFFFFF;
}
.pano > img {
  width: 100%;
  display: block;
  //position: absolute;
  //left: 0;
  //top: 0;
}
.pano > .boxes {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}
.pano > .boxes > .box {
  height: 100%;
  position: relative;
  flex: 2 1 0;
  //cursor: move;
}
.pano > .boxes > .box .divider {
  width: 2px;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -1px;
  top: 0;
  background: rgba(255,255,255,0.5);
}
.pano > .boxes > .box .drag {
  width: 8px;
  height: 24px;
  position: absolute;
  z-index: 2;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid rgba(255,255,255,1);
  border-radius: 4px;
  background: rgba(0,0,0,1);
  cursor: col-resize;
}

.img_controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8px;
}
.img_controls > * {
  flex: 1 0 0;
}
.img_controls .cancel, .img_controls .finish {
  flex: 0 1 80px;
}
.img_controls .cancel {
  background: #C03121;
}
.img_controls .finish {
  background: #7EAF3C;
}
.img_controls .hide {
  display: none;
}

.img_result > ul {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 7px;
}
.img_result > ul > li {
  position: relative;
  margin: 0 1px;
  flex: 1 1 0;
  border-radius: 8px;
  overflow: hidden;
}
.img_result > ul > li > * {
  display: block;
}
.img_result > ul > li .counter {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 0.6em;
  line-height: 15px;
  text-align: center;
  border-radius: 8px;
  background: rgba(0,0,0,0.5);
}
.img_result > .back {
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background: #C03121;
}