// Set variables
$redColor: #C03121;
$greenColor: #7EAF3C;
$blueColor: #3D82FF;

// Background images
$imgPlus: "icons/plus.svg";
$imgMinus: "icons/minus.svg";

// Page structure
#root {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  max-width: 1020px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
.content {
  width: 100%;
  flex: 1 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  > * {
    width: 100%;
    flex: 0 0 0;
  }
}

// General components
button, .btn {
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  color: white;
  background: $blueColor;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  &:active {
    border-color: rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    opacity: 0.4;
    border-color: rgba(0, 0, 0, 0.2);
  }
}
button {
  padding: 4px 8px;
}
.btn {
  padding: 4px 16px;
}
input[type="file"] {
  display: none;
}
input[type="range"] {
  width: 100%;
  height: 24px;
  border: 0;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    width: 16px;
    height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background: white;
    -webkit-appearance: none;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.4;
    + span {
      opacity: 0.4;
    }
  }
}

// Page header
header {
  .logo {
    width: 100px;
    height: 100px;
    margin: 2vh auto;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .heading {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
  }
  .desc {
    margin: 0 4vw 2vh;
    > * {
      display: block;
    }
  }
}

// User instructions
.instructions {
  padding: 0 16px 2vh;
}

// Photo area
.photo {
  position: relative;
  background: rgba(0,0,0,0.2);
  overflow: hidden;
  &.place {
    height: 0;
    padding: 12% 0;
  }
  .browse {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    > * {
      flex: 0 0 0;
    }
    .btn {
      font-size: 1.2rem;
    }
    .guide {
      margin-top: 8px;
      color: white;
      font-size: 0.8em;
      font-weight: 300;
    }
  }
  .loading {
    font-size: 1.2rem;
    font-style: italic;
    line-height: 0;
  }
  .view {
    width: 100%;
  }
  .crop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.6);
    > .boxes {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
      > li {
        height: 100%;
        position: relative;
        flex: 2 1 0;
        .divider {
          width: 1px;
          height: 100%;
          position: absolute;
          z-index: 1;
          left: -1px;
          top: 0;
          background: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}

// Cropping controls
.controls {
  padding: 0 8px;
  font-size: 0.8rem;
  .options {
    padding: 8px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
    li {
      flex: 1 0 0;
      padding: 8px;
    }
  }
  .number {
    padding: 0 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .text {
      flex: 1 0 0;
    }
    .minus, .plus {
      width: 32px;
      height: 32px;
      flex: 0 0 32px;
      margin: 0 8px;
      padding: 0;
      border-radius: 16px;
      background: $blueColor center / 100% no-repeat;
      &.disabled {
        opacity: 0.8;
      }
    }
    .minus {
      background-image: url($imgMinus);
    }
    .plus {
      background-image: url($imgPlus);
    }
  }
  .confirm {
    padding: 0 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .cancel, .finish {
      flex: 0 0 80px;
    }
    .cancel {
      background: $redColor;
    }
    .finish {
      background: $greenColor;
    }
  }
}

// Image results area
.result {
  > ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 7px;
    > li {
      margin: 0 1px;
      flex: 1 1 0;
      img {
        width: 100%;
        border-radius: 8px;
      }
      .counter {
        margin: 1vh 0 0;
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }
  .tip {
    margin: 2vh 16px;
    font-size: 0.8rem;
  }
  .back {
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    background: $redColor;
  }
}

// Page footer
footer {
  padding: 4vh 0;
  flex: 0 0 0;
  font-size: 0.8rem;
  font-weight: 300;
  a, a:hover, a:active, a:visited {
    text-decoration: underline;
  }
}

// Responsive layout
@media (orientation: landscape) {
  .content {
    min-height: 100vh;
    header {
      .logo {
        display: none;
      }
      .desc {
        margin-top: 1vh;
        margin-bottom: 4vh;
      }
    }
  }
  footer {
    padding-bottom: 12vh;
  }
}
