.wrapper {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1000ms;
}
.wrapper > * {
  width: 100%;
  max-width: 1020px;
  flex: 0 0 0;
  margin: 0 auto 8px;
  opacity: 1;
  overflow: hidden;
  //will-change: opacity;
  transition: opacity 500ms;
}
.wrapper > .hide {
  max-height: 0;
  margin: 0;
  opacity: 0;
}

.heading {
  font-size: 2em;
  font-weight: 700;
}
.desc {
  padding: 0 8px;
}

.img_input {
  max-height: 100px;
  padding: 0 8px;
  //will-change: margin, max-height; 
  transition: margin 500ms, max-height 500ms;
}

.img_view {
  width: 100vw;
  overflow: hidden;
}
.pano_place {
  position: relative;
  padding: 11.1645% 0;
  background: rgba(0,0,0,0.2);
}
.pano_place > .text {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
  line-height: 0;
  color: rgba(255,255,255,0.5);
  opacity: 0;
  transition: opacity 500ms;
}
.pano_place.loading > .text {
  opacity: 1;
}
.pano_place > .holder {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.pano_place > .holder > .logo {
  width: 20%;
  margin: 0 auto;
  padding-bottom: 20%;
  border-radius: 8px;
  background:
    url('logo.svg')
    center center / cover
    no-repeat;
  //will-change: width, padding-bottom;
  transition: width 500ms, padding-bottom 500ms;
}
.pano_place.loading > .holder > .logo {
  width: 0;
  padding-bottom: 0;
}
.pano {
  position: relative;
  background-color: #666666;
}
.pano > .image {
  width: 100%;
  display: block;
  opacity: 1;
  margin: 0 auto;
  //will-change: opacity;
  //animation: fadeIn 500ms;
}
.pano > .area {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0 999px rgba(0,0,0,0.6);
}
.pano > .area > .boxes {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}
.pano > .area > .boxes > .box {
  height: 100%;
  position: relative;
  flex: 2 1 0;
}
.pano > .area > .boxes > .box .divider {
  width: 2px;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -1px;
  top: 0;
  background: rgba(255,255,255,0.5);
}
.pano > .area > .boxes > .box .drag {
  width: 8px;
  height: 24px;
  position: absolute;
  z-index: 2;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid rgba(255,255,255,1);
  border-radius: 4px;
  background: rgba(0,0,0,1);
  cursor: col-resize;
}

.img_controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8px;
}
.img_controls > * {
  flex: 1 0 0;
}
.img_controls .cancel, .img_controls .finish {
  flex: 0 1 80px;
}
.img_controls .cancel {
  background: #C03121;
}
.img_controls .finish {
  background: #7EAF3C;
}
.img_controls .hide {
  display: none;
}

.img_result > ul {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 7px;
}
.img_result > ul > li {
  position: relative;
  margin: 0 1px;
  flex: 1 1 0;
  border-radius: 8px;
  overflow: hidden;
}
.img_result > ul > li > * {
  display: block;
}
.img_result > ul > li a:visited {
  opacity: 0.5;
}
.img_result > ul > li .counter {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 0.6em;
  line-height: 15px;
  text-align: center;
  border-radius: 8px;
  background: rgba(0,0,0,0.5);
}
.img_result > .back {
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background: #C03121;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}