// Page structure
#root {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  max-width: 1020px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  animation: fadeIn 1000ms;
}
.content {
  width: 100%;
  min-height: 100%;
  padding: 8px 0;
  flex: 1 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  > * {
    width: 100%;
    max-height: 999vh;
    flex: 0 0 0;
    opacity: 1;
    overflow: hidden;
    transition: max-height 500ms, opacity 500ms;
    &.hide {
      max-height: 0;
      opacity: 0;
    }
  }
}

// General components
button, .btn {
  max-width: 100%;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 8px;
  color: #FFFFFF;
  background: #3D82FF;
  font-size: 1em;
  font-weight: 500;
}
button {
  padding: 4px 8px;
}
.btn {
  padding: 4px 16px;
}
input[type="file"] {
  display: none;
}

// Page header
header {
  .logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 8px;
    background: url('logo.svg') center center / cover no-repeat;
  }
  .heading {
    font-size: 2em;
    font-weight: 300;
  }
  .desc {
    //width: 84%;
    //max-width: 464px;
    padding: 8px 16px 16px;
  }
}

.instructions {
  .msg {
    padding-bottom: 8px;
  }
}

.photo {
  position: relative;
  background: rgba(0,0,0,0.2);
  &.place {
    height: 0;
    padding: 13% 0;
  }
  .browse {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .btn {
      font-size: 1.2em;
      white-space: nowrap;
    }
  }
  .loading {
    font-size: 1.2em;
    font-style: italic;
    line-height: 0;
  }
  .view {
    animation: fadeIn 1000ms;
    img {
      width: 100%;
      display: block;
    }
  }
  .crop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 999px rgba(0,0,0,0.5);
    > .boxes {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
      > .box {
        height: 100%;
        position: relative;
        flex: 2 1 0;
        .divider {
          width: 2px;
          height: 100%;
          position: absolute;
          z-index: 1;
          left: -1px;
          top: 0;
          background: rgba(255,255,255,0.5);
        }
        /*.drag {
          width: 8px;
          height: 24px;
          position: absolute;
          z-index: 2;
          right: -4px;
          top: 50%;
          transform: translateY(-50%);
          border: 2px solid rgba(255,255,255,1);
          border-radius: 4px;
          background: rgba(0,0,0,1);
          cursor: col-resize;
        }*/
      }
    }
  }
}

.controls {
  padding: 0 8px;
  .options {
    padding: 8px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
    li {
      flex: 1 0 0;
      padding: 8px;
      //font-size: 0.8em;
      input {
        width: 100%;
      }
    }
  }
  .confirm {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    .cancel, .finish {
      flex: 0 0 80px;
    }
    .cancel {
      background: #C03121;
    }
    .finish {
      background: #7EAF3C;
    }
  }
}

.result {
  > ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 7px;
    > li {
      position: relative;
      margin: 0 1px;
      flex: 1 1 0;
      border-radius: 8px;
      overflow: hidden;
      canvas {
        max-width: 100%;
      }
      .counter {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 8px;
        top: 8px;
        font-size: 0.6em;
        line-height: 15px;
        text-align: center;
        border-radius: 8px;
        background: rgba(0,0,0,0.5);
      }
    }
  }
  > .back {
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    background: #C03121;
  }
}

// Page footer
footer {
  padding: 16px 0;
  flex: 0 0 0;
  font-size: 0.6em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
