* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html, body {
  color: #FFFFFF;
  background: #EE7571;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3 {
  display: inline;
  font-size: initial;
  font-weight: initial;
}
span {
  white-space: nowrap;
}
small {
  font-size: 0.8em;
}
ul {
  list-style: none;
}
li {
  display: block;
}
canvas {
  display: block;
  max-width: 100%;
}
a, button, label {
  cursor: pointer;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}
button {
  max-width: 100%;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 8px;
  padding: 4px;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 500;
}
input[type="file"] {
  display: none;
}
